/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-bg-color: #f3f3f3;
  --light-green: #99E2D0;
  --dark-green: #008766;
  --light-blue: #89C8FA;
  --dark-blue: #003A68;
  --light-purple: #9356DC;
  --light-gray: #353535;
  --lighter-gray: #EAEAEA;
}

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  background-color: #F6F6F6;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-primary {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px #00000040;
  color: white;
  padding: 1em;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 15px 0px #00000040;
}

/****** Header ***********/

header {
  background-color: white;
  padding: 1.5rem;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

header nav img {
  height: 2rem;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/****** Location ******/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--light-gray);
  background-color: var(--lighter-gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.location p {
  font-weight: bold;
}

/****** Hero ***********/

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  text-align: center;
}

.hero-content p {
  color: var(--light-gray);
  font-size: .9rem;
}

.hero-content a {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/********* Tuto **********/

.tuto{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.tuto h2{
  display: flex;
  justify-content: start;
}

.tuto-steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: .3rem;
}

.tuto-step {
  position: relative;
  background-color: var(--lighter-gray);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #00000040;
  transition: all 0.3s;
}

.tuto-step span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  background-color: var(--light-purple);
  color: white;
  padding: 0.5rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
}

.tuto-step:hover i {
  color: var(--light-purple);
}

.tuto-step:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 15px 0px #00000040;
}

.tuto-step i{
  margin-left: 1.5em;
  color: #7E7E7E;
  transition: all 0.3s;
}

.tuto-step p{
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
}

/******** Footer **********/
footer {
  background-color: var(--light-gray);
  padding: 20px 20px 20px 20px;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  align-items: flex-start;
}

.footer-cols {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-cols img{
  height: 1.5rem;
  filter: invert(1);
}

.footer-icons-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-cols-logolink {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-basic-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.footer-cols-logolink i{
  width: 1rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) {
  .tuto{
    max-width: 50%;
    margin: 0 auto;
  }
  .tuto-steps {
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }
  
  .footer-container {
    padding: 40px 20px 0 20px;
    flex-direction: row-reverse;
    gap: 5rem;
  }
  .footer-cols{
    flex-direction: row;
    gap: 2rem;
  }
  .footer-icons-links {
    flex-direction: row;
    gap: 2rem;
  }
  .footer-basic-links {
    flex-direction: row;
    gap: 2rem;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .footer-container {
    flex-direction: column;
    gap: 2rem;
  }
}
